/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #060D17;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #060D17;;
    color: white;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    font-size: 30px;
    color: #EBBC00;
    font-weight: 600;
}

.card-pesquisa {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    width: 100%;
}

.input-group .form-control {
    flex: 1;
}

.input-group .btn {
    margin-left: 10px;
}

.input-pesquisa{
    background-color: transparent;
    color: #968232;
    border-color: #968232;
}

.input-pesquisa::placeholder{
    color: #EBBC00;
}

.input-pesquisa:focus {
    background-color: transparent;
    color: #EBBC00;
    border-color: #968232;
    box-shadow: none;
}

.button-pesquisa{
    background-color: transparent;
    color: #EBBC00;
    border-color: #968232;
}

.button-pesquisa:hover{
    background-color: #EBBC00;
    color: black;
    border-color: #968232;
}

.card-resultado{
    background-color: #142a483e;
    border: 1px solid #EBBC00;
    padding: 20px;
}

.card-body {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.info-filmes{
    border-bottom: 1px solid #EBBC00;
}

.poster-container{
    border-right: 1px solid #EBBC00;
}
